section.cta-section {
  position: relative;
  width: 100%;

  .bkg-image {
    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:-1;
    }
  }

  .cta-wrapper {
    position: relative;
    @include section-padding(2);
    @include padding-left-right;
    z-index: 2000;

    a {
      color: $color__brand-1;
      font-family: $font__bold;
      text-decoration: none;
    }
  }

  .cta-inner-wrapper {
    max-width: 240px;
    text-shadow: 1px 0px 20px #fff, 0px 1px 20px #fff,
    2px 1px 20px #fff, 1px 2px 20px #fff,
    3px 2px 20px #fff, 2px 3px 20px #fff,
    4px 3px 20px #fff, 3px 4px 20px #fff,
    5px 4px 20px #fff, 4px 5px 20px #fff,
    6px 5px 20px #fff, 5px 6px 20px #fff,
    7px 6px 20px #fff;
    -webkit-transform: translateZ(0);
  }

  h2 {
    color: $color__text-main;
  }

  @include respond-to(small) {
    .cta-inner-wrapper {
      max-width: 275px;
    }
  }

  @include respond-to(large) {
    height: 250px;

    .cta-wrapper {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .cta-inner-wrapper {
      @include section-padding(1);
      padding: 1rem 3rem 1rem 0;
      max-width: 350px;
    }
  }
  @include respond-to(x-large) {
    height: 300px;
  }

  @include respond-to(xx-large) {
    height: 350px;
  }
}