section.cta-section {
  position: relative;
  width: 100%;

  .bkg-image {
    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:-1;
    }
  }

  .cta-wrapper {
    position: relative;
    @include section-padding(2);
    @include padding-left-right;
    z-index: 2000;

    a {
      color: $color__brand-1;
      font-family: $font__bold;
      text-decoration: none;
    }
  }

  .cta-inner-wrapper {
    max-width: 240px;
    text-shadow: 4px 4px 30px rgba(255, 255, 255, 1), 4px 4px 30px rgba(255, 255, 255, 1), 4px 4px 30px rgba(255, 255, 255, 1), 4px 4px 30px rgba(255, 255, 255, 1);

    // text-shadow: 0px 10px 10px rgba(255, 255, 255, 1);
    // text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff;
    // filter: blur(5px);
  }

  h2 {
    color: $color__text-main;
  }

  @include respond-to(small) {
    .cta-wrapper {
      // padding-top: 0;
      // padding-bottom: 0;
    }

    .cta-inner-wrapper {
      max-width: 250px;
    }
  }

  @include respond-to(large) {
    height: 250px;

    .cta-wrapper {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .cta-inner-wrapper {
      @include section-padding(1);
      padding: 1rem 3rem 1rem 0;
      max-width: 350px;
    }
  }
  @include respond-to(x-large) {
    height: 300px;
  }

  @include respond-to(xx-large) {
    height: 350px;
  }
}



// position: absolute;
// left: 20%;
// top: 50%;
// transform: translate(-50%, -50%);