section.cta-section {
  position: relative;
  width: 100%;
  height: 200px;

  .bkg-image {
    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:-1;
    }
  }

  .cta-wrapper {
    position: relative;
    @include section-padding(2);
    @include padding-left-right;
    max-width: 1500px;
    z-index: 2000;
    // background-color:rgba(255, 255, 255, .3);
    // text-shadow: 0px 10px 10px rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 0px  #fff, -2px -2px 0px  #fff, 2px -2px 0px  #fff, -2px 2px 0px  #fff;
    @include test(red);

    a {
      color: $color__brand-1;
      font-family: $font__bold;
      text-decoration: none;
    }
  }

  .cta-inner-wrapper {
    max-width: 300px;
    // margin-left: 20%;
    @include test(green);
  }

  @include respond-to(x-large) {
    height: 300px;
  }

  @include respond-to(x-large) {
    height: 300px;

    .cta-inner-wrapper {
      // max-width: 300px;
      margin-left: 10%;
    }
  }
}