#colophon {
  @include padding-left-right;
  font-family: $font__reg;
  border-top: 1px solid $color__background-body-alt;

  .site-info {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    // @include max-width(1100px);
    // @include test(red);

    .left-content, .right-content {
      // @include test(red);
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .ftr-flex-child {
      margin-bottom: .5em;
    }

    .footer-logo {
      img {
        width: 200px;
      }

    }

    .contact-information {
      .company-name,
      .footer-tel,
      .footer-fax,
      .email {
        display: block;
      }

      a {
        color: #000;
        &:hover {
          color: $color__brand-1;
        }
      }
    }

    #footer-navigation {
      a {
        color: $color__brand-1;

        &:hover {
          color: $color__brand-2;
        }
      }
    }

    .social-wrapper {
      // max-width: 200px;

      h2 {
        font-size: 1em;
        color: $color__text-main;
      }
    }

    .social-media {
      list-style: none;
      display: flex;
      justify-content: center;
      // align-items: center;
      margin: 0 0 1.5em;

      li {
        // @include test(green);

        a {
          // @include test(blue);
          display: block;
          text-indent: 110%;
          white-space: nowrap;
          overflow: hidden;
          width: 35px;
          height: 35px;
          background-image: url(/wp-content/themes/maverick/imgs/sprite-social-media-icons.svg);
          background-size: auto 100%;
          background-repeat: no-repeat;
        }
      }

      .fb {
        a {
          background-position: -4px 0;
          width: 27px;
        }
      }

      .tw {
        a {
          background-position: -34px 0;
        }
      }

      .goo {
        a {
          background-position: -68px 0;
          width: 40px;
        }
      }

      .linked {
        a {
          background-position: -108px 0;
          width: 30px;
        }
      }

      .yt {
        a {
          background-position: -140px 0;
          width: 40px;
        }
      }

      .pin {
        a {
          width: 27px;
          background-position: -179px 0;
        }
      }

      .insta {
        a {
          background-position: -210px 0;
        }
      }
    }

    @media only screen and (min-width: 800px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3em;

      .left-content {
        text-align: left;
      }

      .right-content {
        text-align: right;
        padding-top: 2em;
      }

      .social-wrapper {
        padding-top: 1em;
        margin-right: -.5em;
      }

      .social-media {
        justify-content: flex-end;
      }

      #footer-menu {
        display: flex;
        justify-content: flex-end;

        li {
          padding-left: 1em;
        }
      }
    }

    @include respond-to(large) {
      font-size: .89em;

      .left-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      .contact-information {
        margin-left: 2em;
      }

      #footer-menu {

        li {
          padding-left: 2em;
        }
      }

      .social-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }

    @include respond-to(x-large) {
      #footer-menu {

        li {
          padding-left: 3em;
        }
      }
    }
  }
}