// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Global Site Styles
--------------------------------------------------------------*/

.wrapper {
  @include section-padding(2);
  @include padding-left-right;
  @include max-width(900px);

  @include respond-to(large) {
    @include max-width(1000px);
  }
}

.blue-text {
  color: $color__brand-2;
  font-family: $font__reg;
}

.read-more-text {
  color: $color__brand-2;
  font-family: $font__bold;

  &:hover {
    color: $color__brand-1;
  }
}
