// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Global Site Styles
--------------------------------------------------------------*/

.wrapper {
  @include section-padding(2);
  @include padding-left-right;
  @include max-width(900px);

  @include respond-to(large) {
    @include max-width(1000px);
  }
}

.read-more-link {
  // color: $color__brand-3;
  text-decoration: underline;

  &:hover {
    // color: $color__brand-1;
  }
}
