h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2, h3 {
	font-weight: normal;
  font-family: $font__bold;
}

h1 {
  line-height: 1.2;
  font-size: 1.4375 rem;
  // font-size: 2.375em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8125em;
  line-height: 1.125em;
  margin-bottom: .125em;
  color: $color__brand-1;

}

h3 {
	font-size: 1.25em;
	line-height: 1.125em;
	margin-bottom: 0;
	margin-top: .5em;
}

// h1, h2 {
//   font-family: $font__chunky;
//   letter-spacing: 1px;
//   line-height: 1;
//   @include font-smooth;
// }



// h1.entry-title {
//   font-size: 1.5;
//   color: #fff;
// }

// h2 {
//   @extend h1;
//   color: $color__brand-1;
//   margin: 0 0 1em;
// }

// h3 {
//   line-height: 1.4;
// }
