#masthead {
  #alt-navigation {
    background: $color__gradient;
  }

  .masthead-wrapper {
    margin-top: -1.125rem;

    #site-navigation {
      display: none;
    }

    @include respond-to(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #site-navigation {
        display: block;
      }

    }
  }

}