section.hero {
  position: relative;

  .feature-img {
    height: 220px;
    position: relative;
    z-index: -1;

    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .title-wrapper {
    background: $color__gradient;
    font-family: $font__bold;
    color: #fff;
    position: absolute;
    z-index: 2000;
    font-size: 2rem;
    padding: .5em 1em;
    letter-spacing: 1px;
    top: 36%;
    top: calc(50% - 1em);
    left: 0;
    text-align: left;
    line-height: 1.1;
    width: 90%;
  }

  @include respond-to(x-small) {
    .title-wrapper {
      width: 50%;
    }
  }

  @include respond-to(small) {
    .feature-img {
      height: 330px;
    }

    .hero-title {
      padding-left: 5%;
    }
  }

  @include respond-to(medium) {
    .title-wrapper {
      font-size: 2.2rem;
    }

  }

  @include respond-to(large) {
    z-index: -1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
      right: 5%;
      height: 70px;
      z-index: 2000;
      background-color: #fff;
    }

    .feature-img {
      height: 430px;
    }

    .title-wrapper {
      top: calc(50% - 1.7em);
      font-size: 2.5rem;
    }
  }

  @include respond-to(x-large) {
    .title-wrapper {
      font-size: 2.7rem;
    }
  }
  @include respond-to(xx-large) {
    .title-wrapper {
      width: 40%;
      font-size: 2.9rem;
    }

    .feature-img {
      height: 600px;
    }
  }
}