section.home-hero {

  .image-collage-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .feature-img {
    flex: 1 1 50%;

    img {
      display: block;
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
    }
  }

  .title-wrapper {
    @include section-padding(2);
    padding-left: 1rem;
    padding-right: 1rem;
    background: $color__gradient;
    color: #fff;
    font-family: $font__bold;
    font-size: 1.875rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;

    .hero-title {
      padding-bottom: .5em;
    }

    .btn {
      margin-bottom: 1.5em;
    }
  }

  // @media only screen and (min-width: 420px) {
  //   .title-wrapper {
  //     // @include padding-left-right;
  //   }
  // }

  @include respond-to(x-small) {
    .title-wrapper {
      font-size: 1.975rem;
    }
  }

  @include respond-to(small) {
    display: flex;

    .image-collage-wrapper, .title-wrapper {
      flex: 1 1 50%;
    }

    .title-wrapper {
      @include test(red);
      padding-left: 0;
      padding-right: 0;
    }

    .title-inner-wrapper {
      @include test(red);
    }

    .image-collage-wrapper {
      // height: 500px;
      order: 2
    }

    .feature-img {
      &:after {
        content: "";
        display: block;
        padding-bottom: 10%;
      }
    }

    .title-wrapper {
      order: 1;

      .title-inner-wrapper {
        text-align: left;
        font-size: 1.75rem;
        padding-top: 10%;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  @media only screen and (min-width: 800px) {
    .title-wrapper {

      .title-inner-wrapper {
        font-size: 2rem;
      }
    }
  }

  @include respond-to(medium) {
    .title-wrapper {

      .title-inner-wrapper {
        // padding-left: 2em;
        // padding-right: 2em;
        font-size: 2.5rem;
      }
    }
  }

  @include respond-to(large) {
    position: relative;
    z-index: -1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
      right: 5%;
      height: 50px;
      z-index: 2000;
      background-color: #fff;
    }

    .feature-img {
      &:after {
        content: "";
        display: block;
        padding-bottom: 0;
      }
    }

    .title-wrapper {

      .title-inner-wrapper {
        // padding-left: 2em;
        // padding-right: 2em;
        font-size: 2.75rem;
        padding-top: 0;
      }
    }
  }

  @include respond-to(x-large) {
    .feature-img {
      // height: 700px;
    }
  }
}