section.home-hero {

  .feature-img {
    height: 400px;

    img {
      display: block;
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
    }
  }

  .title-wrapper {
    @include section-padding(2);
    @include padding-left-right;
    background: $color__gradient;
    color: #fff;
    font-family: $font__bold;
    font-size: 1.875rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;

    .hero-title {
      padding-bottom: .5em;
    }
  }

  @include respond-to(small) {
    display: flex;

    .feature-img, .title-wrapper {
      flex: 1 1 50%;
    }

    .feature-img {
      height: 500px;
      order: 2
    }

    .title-wrapper {
      order: 1;
      position: relative;
      z-index: -1;

      .title-inner-wrapper {
        position: absolute;
        width: 100%;;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        // font-size: 2.3em;
        line-height: 1.1;
        padding-left: 3rem;
        padding-right: 5rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
    }
  }

  @include respond-to(medium) {
    position: relative;
    z-index: -1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
      right: 5%;
      height: 80px;
      z-index: 2000;
      background-color: #fff;
    }

    .feature-img {
      height: 600px;
    }
  }

  @include respond-to(x-large) {
    .feature-img {
      height: 700px;
    }
  }
}