section.home-icon {
  text-align: center;
  position: relative;

  &:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #fff;
    opacity: 0.90;
  }

  .bkg-image {
    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:-1;
    }
  }

  .wrapper {
    position: relative;
    z-index: 99999;
  }
  .content-wrapper {

  }

  .icon-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .icon-inner-wrapper {
    flex: 0 1 50%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      width: 105px;
    }

    .icon-title {
      font-family: $font__bold;
    }
  }

  @include respond-to(x-small) {
    .icon-inner-wrapper {
      img {
        width: 130px;
      }
    }
  }

  @include respond-to(small) {
    .icon-inner-wrapper {
      flex: 0 1 33%;
    }

  }
}