.home-testimonial {
  position: relative;
  @include section-padding(2);

  &:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: $color__brand-1;
    opacity: 0.80;
  }

  .bkg-image {
    img {
      object-fit: cover;
      font-family: "object-fit: cover";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:-1;
    }
  }

  .testimonial-header {
    position: relative;
    width: 90%;


    &:after {
      content: '';
      display: none;
      position: absolute;
      top: 60px;
      right: -8px;
      background-image: url(/wp-content/themes/maverick/imgs/qoute-marks.svg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: .6;
      width: 60px;
      height: 60px;
    }
  }

  h2 {
    padding: 1em 2em;
    margin: 0;
    background: $color__gradient;
  }

  .inner-wrapper {
    @include section-padding(2);
    position: relative;
    z-index: 2000;
    max-width: 1350px;
    margin: 0 auto;
    color: #fff;
  }

  .testimonial {
    @include padding-left-right;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .testimonial-carousel {
    height: 100%;

    .cell {
      width: 100%;
      height: auto;
      margin-left: 20px;
      font-size: $font__reg;
    }

    // Custom Flickity Styles

    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 13px;
      height: 24px;
      background: transparent;
      overflow: hidden;
      display: none; // display at larger size

      @include respond-to(x-small) {
        display: block;
      }
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }

    .flickity-page-dots .dot {
      background: #fff;
    }

    @include respond-to(x-small) {
      padding-left: 3em;
      padding-right: 3em;
    }

    @include respond-to(medium) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }

  .button-wrapper {
    text-align: center;

    .btn {
      color: $color__brand-2;
      background-color: #fff;
    }
  }

  @include respond-to(x-small) {
    .testimonial-header {
      width: 70%;

      &:after {
        display: block;
      }
    }

    .testimonial {
      margin-top: 3em;
    }
  }

  @include respond-to(medium) {

    .inner-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: felx-start;
    }

    .testimonial-header {
      flex: 1 1 40%;
    }

    h2 {
      padding: 1em;
    }

    .testimonial {
      flex: 1 1 60%;
      margin-top: 0;
    }

    .button-wrapper {
      flex: 0 0 100%;
      margin-top: 2em;
    }

  }
}