#alt-navigation,
#main-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  a {
    text-decoration: none;
  }
}

#alt-navigation {
  ul {
		visibility: hidden;

		@media screen and (min-width: 375px) {
			visibility: visible;
		}
	}

  li {
    padding: .5rem;
  }

  // Add 'metric-menu' class to alt-menu naivgation for metric calulator url
  li.metric-menu {
    a {
      border-left: 1px solid #fff;
      padding-left: 1rem;
    }
  }

  a {
    color: #fff;

    &:hover {
      color: $color__brand-1;
    }
  }
}

.main-navigation {
  padding-top: 1rem;

	ul {
		list-style: none;
		margin: 0;
    padding-left: 0;
    background: #fff;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
      }
		}

		li:hover > ul,
		li.focus > ul {
      left: auto;
		}
	}

	li {
    float: left;
    position: relative;
    padding: 1rem;

		&:hover > a,
		&.focus > a {
      color: $color__brand-1;
		}
	}

	a {
		display: block;
    text-decoration: none;
    font-family: $font__bold;
    color: $color__brand-3;
    text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
    color: $color__brand-1;
    font-style: italic;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
